/* Cards */
.company-box {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  z-index: 2;
  min-height: 320px;
  text-decoration: none;
  transition: transform var(--tran-duration) var(--tran-timing);
}

/* .company-box:hover {
  transform: translateY(-10px);
} */

/* .company-box:hover::before {
  bottom: -26px;
} */

.company-box::before {
  position: absolute;
  bottom: -16px;
  right: -16px;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  background-color: hsla(0, 0%, 80%, .5);
  /* background: url('https://res.cloudinary.com/www-virgin-com/f_auto,fl_lossy,q_auto/virgin-virgingroup-prod/virgingroup/profiles/site_installer/themes/custom/virgin/images/bg-main.png?1542382727')
    hsla(0, 0%, 80%, 0.5); */
  transition: bottom var(--tran-duration) var(--tran-timing);
}

.card-box__thumbnail {
  display: flex;
  place-content: center;
  flex: 1;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  /* background-color: hsl(351.6, 97.2%, 42%); */
  background: #fff;
  border: 4px solid var(--color-brand);
}

.card-box__thumbnail svg {
  width: 80px;
}

.company-box__info {
  margin: auto 0 0;
  position: relative;
  z-index: 2;
  padding: 28px;
  color: #fff;
  background-color: var(--color-brand);
}

.company-box__heading {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 21px;
  font-weight: 400;
  line-height: 1;
}

/* .company-box:hover .company-box__heading {
  background-color: var(--color-brand-hover);
} */

.company-box__description {
  margin-top: 8px;
  margin-bottom: 0;
  overflow: hidden;
  height: auto;
  max-height: 0;
  font-size: 14px;
  transition: max-height var(--tran-duration) var(--tran-timing);
}

.company-box:hover .company-box__description {
  max-height: 1000px;
}
