# Development folders & files #
###############################
.cache/
.tmp/
dist/
.next/
node_modules/
out/

# Envs & Secrets #
##################
.env.local

# Folders for inspiration & notes #
###################################
_ignore/

# Log files #
#############
logs/
*.log
npm-debug.log*

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Photoshop & Illustrator files #
#################################
*.ai
*.eps
*.psd

# Private files #
#################
.env

# Runtime data
pids
*.pid
*.seed
