/* Footer */
footer {
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: #fff;
  transition: opacity var(--tran-duration) var(--tran-timing);
}

.footer a:hover {
  opacity: .25;
}
