/* Forms */
fieldset {
  padding: 0;
  border: 0;
}

input,
textarea {
  padding: 8px;
  width: 100%;
  border: 2px solid var(--color-black);
  transition: all var(--tran-duration) var(--tran-timing);
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  outline: none;
  border-color: var(--color-black);
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
}

textarea {
  resize: vertical;
}

[type=checkbox] + span {
  margin-left: 24px;
}

/* Custom checkbox */
.styled-checkbox {
  display: none;

  & + span {
    position: relative;
    padding: 0;
    cursor: pointer;
  }

  & + span::before {
    position: absolute;
    top: -1px;
    left: -26px;
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    border: 2px solid var(--color-black);
    transition: all var(--tran-duration) var(--tran-timing);
  }

  &:hover + span::before {
    border-color: var(--color-brand);
  }

  &:focus + span::before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  &:checked + span::before {
    background: var(--color-brand);
    border-color: var(--color-brand);
  }

  &:checked + span::after {
    position: absolute;
    top: 7px;
    left: -22px;
    content: '';
    background: #fff;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
    transform: rotate(45deg);
  }
}
