/* Forms */
fieldset {
  padding: 0;
  border: 0;
}

input,
textarea {
  padding: rem(8);
  width: 100%;
  border: rem(2) solid var(--color-black);
  transition: all var(--tran-duration) var(--tran-timing) !important;
}

input:focus,
input:hover,
textarea:focus,
textarea:hover {
  outline: none;
  border-color: var(--color-black);
}

label {
  display: block;
  margin-bottom: rem(4);
  font-size: rem(14);
  font-weight: 700;
}

textarea {
  resize: vertical;
}

[type=checkbox] + span {
  margin-left: rem(24);
}

/* Custom checkbox */
.styled-checkbox {
  display: none;

  & + span {
    position: relative;
    padding: 0;
    cursor: pointer;
  }

  & + span::before {
    position: absolute;
    top: rem(-1);
    left: rem(-26);
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: rem(18);
    height: rem(18);
    border: rem(2) solid var(--color-black);
    transition: all var(--tran-duration) var(--tran-timing) !important;
  }

  &:hover + span::before {
    border-color: var(--color-brand);
  }

  &:focus + span::before {
    box-shadow: 0 0 0 rem(3) rgba(0, 0, 0, 0.12);
  }

  &:checked + span::before {
    background: var(--color-brand);
    border-color: var(--color-brand);
  }

  &:checked + span::after {
    position: absolute;
    top: rem(7);
    left: rem(-22);
    content: '';
    background: #fff;
    width: rem(2);
    height: rem(2);
    box-shadow: rem(2) 0 0 #fff, rem(4) 0 0 #fff, rem(4) rem(-2) 0 #fff, rem(4) rem(-4) 0 #fff, rem(4) rem(-6) 0 #fff, rem(4) rem(-8) 0 #fff;
    transform: rotate(45deg);
  }
}
