/* Header */
.header a {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: opacity var(--tran-duration) var(--tran-timing);
}

.header a:not(.navbar-brand):hover {
  opacity: .25;
}

.header .navbar-brand {
  font-size: 26px;
  line-height: 1;
}
