.hero {
  position: relative;
  color: #fff;
  background-color: transparent !important;

  &:hover {
    .box {
      top: rem(90);
      left: rem(-30);
      box-shadow: rem(10) rem(10) 0 #efefef;
    }
  }
}

.box {
  position: absolute;
  top: rem(80);
  left: rem(-40);
  width: rem(756);
  height: rem(380);
  background: #121212;
  box-shadow: rem(30) rem(30) 0 #efefef;
  transition: all .25s ease-in-out;
}
