.toast-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toast-text {
  font-size: rem(14);
}

.toast-cancel-icon {
  margin-left: rem(8);
  border-radius: 50%;
  background-color: #f3f4f6;
  min-width: rem(21);
  height: rem(21);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
