:root {
  --color-black: hsl(0, 0%, 20%);
  --color-brand: hsl(351.6, 97.2%, 42%); /* #d30320 */
  --color-brand-hover: hsl(351.6, 97.2%, 22%);

  --tran-duration: .15s;
  --tran-timing: ease-in-out;
}

body {
  overflow: hidden auto;
}

.page-wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
}

.page-content {
  display: flex;
  flex: 1;
}
