:root {
  --color-black: hsl(0, 0%, 20%);
  --color-brand: hsl(351.6, 97.2%, 42%); /* #d30320 */
  --color-brand-hover: hsl(351.6, 97.2%, 22%);

  --tran-duration: .25s;
  --tran-timing: ease-in-out;
}

.page-wrapper {
  display: flex;
  flex-flow: column wrap;
  min-height: 100vh;
}

.page-content {
  flex: 1;
}
