/* Typography */
html {
  font-size: 16px;
}

body {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  line-height: 1.618;
  color: var(--color-black);
}

.font-bebas {
  font-family: 'Bebas Neue', Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-roboto {
  font-family: Roboto, Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.font-roboto-condensed {
  font-family: 'Roboto Condensed', Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  padding: 0;
  line-height: 1.382;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  color: inherit;
}

h1:not(:last-child),
.h1:not(:last-child),
h2:not(:last-child),
.h2:not(:last-child),
h3:not(:last-child),
.h3:not(:last-child),
h4:not(:last-child),
.h4:not(:last-child),
h5:not(:last-child),
.h5:not(:last-child),
h6:not(:last-child),
.h6:not(:last-child) {
  margin-bottom: 16px;
}

.h1 {
  font-size: 5rem;
}

.h2 {
  font-size: 4.5rem;
}

.h3 {
  font-size: 4rem;
}

.h4 {
  font-size: 3.5rem;
}

.h5 {
  font-size: 3rem;
}

.h6 {
  font-size: 2.5rem;
}

.body1 {
  font-size: 1.5rem;
}

.body2 {
  font-size: 1rem;
}

.body3 {
  font-size: 0.667rem;
}

.body4 {
  font-size: 0.444rem;
}

.display {
  font-weight: 300;
}

p {
  margin: 0;
  /* font-size: responsive 18px 21px; */
}

p + p {
  margin-top: 16px;
}

/* p a {
  text-decoration-color: var(--color-brand);
  color: #111;
  transition: all var(--tran-timing) var(--tran-duration);

  p a:hover {
    color: #111;
    text-decoration-color: #111;
  }
} */

.text--center {
  text-align: center;
}

.text-underline {
  text-decoration: underline !important;
}
