/* Typography */
html {
  font-size: 16px;
}

body {
  font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -ms-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  -webkit-font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  line-height: 1.618;
  color: var(--color-black);
}

.font-bebas {
  font-family: 'Bebas Neue', Raleway, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 1.1;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
  color: inherit;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

h1:not(:last-child),
.h1:not(:last-child),
h2:not(:last-child),
.h2:not(:last-child),
h3:not(:last-child),
.h3:not(:last-child),
h4:not(:last-child),
.h4:not(:last-child),
h5:not(:last-child),
.h5:not(:last-child),
h6:not(:last-child),
.h6:not(:last-child) {
    margin-bottom: 16px;
}

/* h1,
.h1 {
  font-size: responsive 52px 62px;
  font-weight: 900;
}

h2,
.h2 {
  font-size: responsive 38px 46px;
}

h3,
.h3 {
  font-size: responsive 32px 38px;
}

h4,
.h4 {
  font-size: responsive 28px 32px;
}

h5,
.h5 {
  font-size: responsive 26px 28px;
}

h6,
.h6 {
  font-size: responsive 15px 16px;
} */

p {
  margin: 0;
  /* font-size: responsive 18px 21px; */
}

p + p {
  margin-top: 16px;
}

/* p a {
  text-decoration-color: var(--color-brand);
  color: #111;
  transition: all var(--tran-timing) var(--tran-duration);

  p a:hover {
    color: #111;
    text-decoration-color: #111;
  }
} */

.text--center {
  text-align: center;
}
